@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #546588;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  text-align: center;
}

.header .header__login h6 {
  color: white;
  padding: 15px;
  margin-bottom: 0;
}

.header .header__login .boton {
  border-color: #546588;
  background-color: #546588;
  font-weight: 600;
}

.header .header__logo {
  margin-right: 50px;
}

.header .header__sticky {
  width: 100%;
  background-color: #546588;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.header .header__sticky .header__navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__sticky .header__navegador ul {
  padding-left: 0;
  background-color: #546588;
}

.header .header__sticky .header__navegador ul .header__menu {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 545px) {
  .header .header__sticky .header__navegador ul .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.header .header__sticky .header__navegador ul .header__menu li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .header__sticky .header__navegador ul .header__menu li:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.header .header__sticky .header__navegador ul .header__menu li .header__menu__submenu {
  display: none;
}

.header .header__sticky .header__navegador ul .header__menu li a {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 43px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

@media (max-width: 652px) {
  .header .header__sticky .header__navegador ul .header__menu li a {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .header .header__sticky .header__navegador ul .header__menu li a {
    padding: 20px 20px;
  }
}

.header .header__sticky .header__navegador ul .header__menu li a:hover {
  background-color: #E5EEEE;
  color: black;
}

main .contenedor {
  margin: 50px auto 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 350px;
      grid-template-rows: 350px;
  justify-items: center;
}

@media (max-width: 970px) {
  main .contenedor {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    margin: 30px 80px;
    grid-row-gap: 40px;
  }
}

@media (max-width: 862px) {
  main .contenedor {
    margin: 30px 40px;
  }
}

@media (max-width: 767px) {
  main .contenedor {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 320px) {
  main .contenedor {
    margin: 30px 10px;
  }
}

main .contenedor .contenedor__acolchado {
  background-image: url(img/acolchado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  color: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .contenedor .contenedor__acolchado:hover {
  border: 5px solid #546588;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media (max-width: 767px) {
  main .contenedor .contenedor__acolchado {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

main .contenedor .contenedor__acolchado .contenedor__acolchado-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

main .contenedor .contenedor__acolchado .contenedor__acolchado-texto h6 {
  text-align: center;
  border: 1px solid white;
  margin: 0px 100px;
  padding: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .contenedor .contenedor__acolchado .contenedor__acolchado-texto h6:hover {
  cursor: pointer;
  background-color: lightblue;
}

main .contenedor .contenedor__sabana {
  background-image: url(img/sabana2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  text-align: center;
  text-align: center;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .contenedor .contenedor__sabana:hover {
  border: 5px solid #546588;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media (max-width: 767px) {
  main .contenedor .contenedor__sabana {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

main .contenedor .contenedor__sabana .contenedor__sabana-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

main .contenedor .contenedor__sabana .contenedor__sabana-texto h6 {
  text-align: center;
  border: 1px solid white;
  margin: 0px 100px;
  padding: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .contenedor .contenedor__sabana .contenedor__sabana-texto h6:hover {
  cursor: pointer;
  background-color: lightblue;
}

main .contenedor .contenedor__almohada {
  background-image: url(img/decoalmoha7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  color: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .contenedor .contenedor__almohada:hover {
  border: 5px solid #546588;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media (max-width: 970px) {
  main .contenedor .contenedor__almohada {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

main .contenedor .contenedor__almohada .contenedor__almohada-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

main .contenedor .contenedor__almohada .contenedor__almohada-texto h6 {
  text-align: center;
  border: 1px solid white;
  margin: 0px 100px;
  padding: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .contenedor .contenedor__almohada .contenedor__almohada-texto h6:hover {
  cursor: pointer;
  background-color: lightblue;
}

main .presentacion {
  margin: 50px 0px 50px 0px;
  text-align: center;
}

main .presentacion img {
  width: 60px;
  margin: 5px;
}

main .presentacion .presentacion__objetivo {
  font-size: 25px;
  font-family: 'El Messiri', sans-serif;
  width: auto;
  margin: 30px;
}

@media (max-width: 320px) {
  main .presentacion .presentacion__objetivo {
    font-size: 20px;
  }
}

.pie {
  margin-top: 60px;
  padding: 100px 0px 10px 0px;
}

.pie .pie__tituloemail {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

.pie .pie__email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 10%;
      grid-template-columns: 30% 10%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 10px;
  margin-bottom: 30px;
}

.pie .pie__derechos {
  text-align: center;
  opacity: 0.6;
}

.pie .pie__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pie img {
  margin: 0px 20px 0px 0px;
  width: 30px;
}

.decoracion {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (420px)[3];
      grid-template-columns: repeat(3, 420px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-items: center;
}

.decoracion .decoracion__mantel-titulo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.decoracion .decoracion__mantel-producto1 {
  grid-column: 0.25;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__mantel-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__mantel-producto1 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__mantel-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__mantel-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__mantel-producto1 .btn {
  font-weight: 500;
}

.decoracion .decoracion__mantel-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.decoracion .decoracion__mantel-producto2 {
  grid-column: 0.5;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__mantel-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__mantel-producto2 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__mantel-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__mantel-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__mantel-producto2 .btn {
  font-weight: 500;
}

.decoracion .decoracion__mantel-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.decoracion .decoracion__mantel-producto3 {
  grid-column: 0.75;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__mantel-producto3:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__mantel-producto3 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__mantel-producto3 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__mantel-producto3 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__mantel-producto3 .btn {
  font-weight: 500;
}

.decoracion .decoracion__mantel-producto3 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.decoracion .decoracion__cortinas-titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.decoracion .decoracion__cortinas-producto1 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__cortinas-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__cortinas-producto1 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__cortinas-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__cortinas-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__cortinas-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.decoracion .decoracion__cortinas-producto2 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__cortinas-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__cortinas-producto2 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__cortinas-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__cortinas-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__cortinas-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.decoracion .decoracion__cortinas-producto3 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__cortinas-producto3:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__cortinas-producto3 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__cortinas-producto3 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__cortinas-producto3 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__cortinas-producto3 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.decoracion .decoracion__almohadas-titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 9;
  grid-row: 9/9;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.decoracion .decoracion__almohadas-producto1 {
  grid-column: 0.5;
  -ms-grid-row: 10;
  grid-row: 10/10;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__almohadas-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__almohadas-producto1 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__almohadas-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__almohadas-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__almohadas-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
  color: black;
}

.decoracion .decoracion__almohadas-producto2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 10;
  grid-row: 10/10;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__almohadas-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__almohadas-producto2 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__almohadas-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__almohadas-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__almohadas-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
  color: black;
}

.decoracion .decoracion__almohadas-producto3 {
  -ms-grid-column: 1;
  grid-column: 1.5;
  -ms-grid-row: 10;
  grid-row: 10/10;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.decoracion .decoracion__almohadas-producto3:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.decoracion .decoracion__almohadas-producto3 img {
  width: 250px;
  height: auto;
}

.decoracion .decoracion__almohadas-producto3 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.decoracion .decoracion__almohadas-producto3 h6 {
  width: 80px;
  font-size: 14px;
}

.decoracion .decoracion__almohadas-producto3 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
  color: black;
}

.cama {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (420px)[3];
      grid-template-columns: repeat(3, 420px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-items: center;
}

.cama .cama__sabanas-titulo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.cama .cama__sabanas-producto1 {
  grid-column: 0.25;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__sabanas-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__sabanas-producto1 img {
  width: 250px;
  height: auto;
}

.cama .cama__sabanas-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__sabanas-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__sabanas-producto1 .btn {
  font-weight: 500;
}

.cama .cama__sabanas-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.cama .cama__sabanas-producto2 {
  grid-column: 0.5;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__sabanas-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__sabanas-producto2 img {
  width: 250px;
  height: auto;
}

.cama .cama__sabanas-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__sabanas-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__sabanas-producto2 .btn {
  font-weight: 500;
}

.cama .cama__sabanas-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.cama .cama__sabanas-producto3 {
  grid-column: 0.75;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__sabanas-producto3:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__sabanas-producto3 img {
  width: 250px;
  height: auto;
}

.cama .cama__sabanas-producto3 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__sabanas-producto3 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__sabanas-producto3 .btn {
  font-weight: 500;
}

.cama .cama__sabanas-producto3 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.cama .cama__acolchados-titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.cama .cama__acolchados-producto1 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__acolchados-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__acolchados-producto1 img {
  width: 250px;
  height: auto;
}

.cama .cama__acolchados-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__acolchados-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__acolchados-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.cama .cama__acolchados-producto2 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__acolchados-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__acolchados-producto2 img {
  width: 250px;
  height: auto;
}

.cama .cama__acolchados-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__acolchados-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__acolchados-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.cama .cama__doblepiel-titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 9;
  grid-row: 9/9;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.cama .cama__doblepiel-producto1 {
  grid-column: 0.5;
  -ms-grid-row: 10;
  grid-row: 10/10;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__doblepiel-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__doblepiel-producto1 img {
  width: 250px;
  height: auto;
}

.cama .cama__doblepiel-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__doblepiel-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__doblepiel-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
  color: black;
}

.cama .cama__doblepiel-producto2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 10;
  grid-row: 10/10;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.cama .cama__doblepiel-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.cama .cama__doblepiel-producto2 img {
  width: 250px;
  height: auto;
}

.cama .cama__doblepiel-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.cama .cama__doblepiel-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.cama .cama__doblepiel-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
  color: black;
}

.banios {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (420px)[3];
      grid-template-columns: repeat(3, 420px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-items: center;
}

.banios .banios__toallas-titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.banios .banios__toallas-producto1 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.banios .banios__toallas-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.banios .banios__toallas-producto1 img {
  width: 250px;
  height: auto;
}

.banios .banios__toallas-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.banios .banios__toallas-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.banios .banios__toallas-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.banios .banios__toallas-producto2 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.banios .banios__toallas-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.banios .banios__toallas-producto2 img {
  width: 250px;
  height: auto;
}

.banios .banios__toallas-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.banios .banios__toallas-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.banios .banios__toallas-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.banios .banios__toallas-producto3 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.banios .banios__toallas-producto3:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.banios .banios__toallas-producto3 img {
  width: 250px;
  height: auto;
}

.banios .banios__toallas-producto3 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.banios .banios__toallas-producto3 h6 {
  width: 80px;
  font-size: 14px;
}

.banios .banios__toallas-producto3 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.banios .banios__cortinasbaño-titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
  background-color: #4682b4;
  color: white;
  width: 500px;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  margin-bottom: 40px;
  margin-top: 50px;
}

.banios .banios__cortinasbaño-producto1 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.banios .banios__cortinasbaño-producto1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.banios .banios__cortinasbaño-producto1 img {
  width: 250px;
  height: auto;
}

.banios .banios__cortinasbaño-producto1 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.banios .banios__cortinasbaño-producto1 h6 {
  width: 80px;
  font-size: 14px;
}

.banios .banios__cortinasbaño-producto1 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.banios .banios__cortinasbaño-producto2 {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 10px 5px grey;
          box-shadow: 5px 10px 5px grey;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 1s;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.banios .banios__cortinasbaño-producto2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.banios .banios__cortinasbaño-producto2 img {
  width: 250px;
  height: auto;
}

.banios .banios__cortinasbaño-producto2 h5 {
  margin-top: 15px;
  font-size: 15px;
}

.banios .banios__cortinasbaño-producto2 h6 {
  width: 80px;
  font-size: 14px;
}

.banios .banios__cortinasbaño-producto2 .btn:hover {
  border: lightgreen;
  background-color: lightgreen;
}

.contacto {
  display: -ms-grid;
  display: grid;
  grid-column: 1fr 1fr;
  justify-items: center;
}

.contacto .contacto__mensaje {
  margin-top: 10px;
  text-align: center;
}

.contacto .contacto__mensaje .contacto__mensaje-titulo {
  font-size: 40px;
  font-family: 'El Messiri', sans-serif;
}

.contacto .contacto__mensaje .contacto__mensaje-presentacion {
  font-size: 15px;
}

.contacto .contacto__formulario {
  -webkit-box-shadow: 0px 10px 20px grey;
          box-shadow: 0px 10px 20px grey;
  width: 500px;
}

.contacto .contacto__formulario .contacto__formulario-contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
}

.contacto .contacto__formulario .contacto__formulario-contenedor .contacto__formulario-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.contacto .contacto__formulario .contacto__formulario-contenedor .contacto__formulario-apellido {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.contacto .contacto__formulario .contacto__formulario-contenedor .contacto__formulario-numero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.contacto .contacto__formulario .contacto__formulario-contenedor .contacto__formulario-texto {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.contacto .contacto__formulario .contacto__formulario-contenedor .contacto__formulario-enviar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px 0 5px 0;
}
/*# sourceMappingURL=main.css.map */