.contacto{
    display: grid;
    grid-column: 1fr 1fr;
    justify-items: center;
    .contacto__mensaje{
        margin-top: 10px;
        text-align: center;
            .contacto__mensaje-titulo{
                font-size: 40px;
                font-family: 'El Messiri', sans-serif;
            }
            .contacto__mensaje-presentacion{
                font-size: 15px;
            }
    }
    .contacto__formulario{
        box-shadow: 0px 10px 20px grey;
        width: 500px;
                .contacto__formulario-contenedor{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    justify-items: center;
                        .contacto__formulario-name{
                            grid-column: 1/4;
                            grid-row: 1/4;
                        }
                        .contacto__formulario-apellido{
                            grid-column: 2/4;
                            grid-row: 1/4;
                        }
                        .contacto__formulario-numero{
                            grid-column: 1/4;   
                        }
                        .contacto__formulario-texto{
                            grid-column: 1/4;
                        }
                        .contacto__formulario-enviar{
                            grid-column: 1/4;
                            width: 200px;
                            align-self: center;
                            margin: 5px 0 5px 0;
                        }
                }


    }
}