*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    background-color: #CCD1D1;

            .header__logo{
                margin-left: auto;
            }
            .header__menu{

                    display: flex;
                    flex-direction: row;
                li{
                    transition: all 0.5s;
                            &:hover{
                                transform: scale(1.15,1.15);
                            }
                                .header__menu__submenu{
                                    display: none;

                                }
                                    a{
                                        font-family: 'Oswald', sans-serif;
                                        padding: 20px 43px;
                                        font-size: 20px;
                                        color: #81BBCC;
                                        text-decoration: none;
                                                &:hover{
                                                    background-color: #E5EEEE;
                                                    color: black;
                                                }
                                    }
                }
            }
}

